@import "tailwindcss";

@theme {
    --font-display: "Satoshi", "sans-serif";
    --breakpoint-3xl: 120rem;
    --color-black-primary:'#242424';
    --color-black-secondary:'#1F1F1F';
    --color-text-title: '#F9DBB7';
    --color-text-paragraph: "#FDECD8";
    --color-text-divider: '#BA7345';
    --color-button-active:'#C58244';
    /* ... */
}
