---
import BaseLayout from '../layouts/Layout.astro';
import HeroSection from "../components/Herosection.astro";

    const socialFacebook = "https://www.facebook.com/CafeMystika";
    const socialInstagram = "https://www.instagram.com/cafemystika/";
    const socialYoutube=  "https://www.youtube.com/c/ThePinoyDrinker";
---
<BaseLayout title="Contact Us">
    <section class="py-20 container mx-auto px-3 md:px-10">
            <p class="text-5xl mb-10 font-radley text-text-title text-left md:text-center">Have a Word <br> with Us</p>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-10 md:gap-20">
                <div class="bg-black-primary w-full xl:w-3/4 mx-auto h-52 py-10 px-5 md:px-0 font-radley">
                    <p class="text-text-divider text-3xl mb-5 text-center"> Customer Service</p>
                    <div class="flex justify-center mx-auto mb-5 text-text-paragraph font-imFell">
                        <img src="/icons/Vector-2.png"><span class="ml-5">help@mystika.com</span>
                    </div>
                    <div class="flex justify-center mx-auto text-text-paragraph font-imFell">
                        <img src="/icons/Vector-3.png"><span class="ml-5">0905-000-000</span>
                    </div>
                </div>
                <div class="bg-black-primary w-full xl:w-3/4 mx-auto h-52 py-10 px-5 md:px-0 font-radley">
                    <p class="text-text-divider text-3xl mb-5 text-center">Wholesale</p>
                    <div class="flex justify-center mx-auto mb-5 text-text-paragraph font-imFell"><img src="/icons/Vector-2.png"><span class="ml-5">help@mystika.com</span></div>
                    <div class="flex justify-center mx-auto text-text-paragraph font-imFell"><img src="/icons/Vector-3.png"><span class="ml-5">0905-000-000</span></div>
                </div>
            </div>
        </section>
    <section class="md:pb-20 container mx-auto">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 lg:gap-20">
            <div class="w-full xl:w-3/4 mx-auto py-10 px-3 lg:px-10 xl:px-0 font-radley order-2 lg:order-1">
                <div class="mb-10 lg:text-center text-start">
                    <p class="text-5xl mb-10 font-radley text-text-title">Get cozy and Follow our Socials!</p>
                    <p class="w-full lg:mx-auto text-text-paragraph">Join up with the Cafe Mystika Socials — get the latest news, special deals, and secret coffee notes brewed just for you!</p>
                </div>
                <div class="flex gap-10 justify-center">
                    <div><a target="_blank" href={socialInstagram}><img class="w-24" src="/icons/instagram.png"></a></div>
                    <div><a target="_blank" href={socialYoutube}><img class="w-24" src="/icons/youtube.png"></a></div>
                    <div><a target="_blank" href={socialFacebook}><img class="w-24" src="/icons/facebook.png"></a></div>
                </div>
            </div>
            <div class="w-full xl:w-3/4 mx-auto py-0 md:py-10 font-radley order-1 lg:order-2">
                <div class="flex xl:justify-center h-full">
                    <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d705.7907064776172!2d123.2466837592959!3d9.281037125473096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33ab6700254fb5cd%3A0x102c972ead890ff6!2sCafe%20Mystika%20Valencia%20Espresso%20Bar!5e0!3m2!1sen!2ssg!4v1730140450245!5m2!1sen!2ssg"
                            style="border:0;"
                            allowfullscreen=""
                            loading="lazy"
                            class="w-full xl:w-96 h-full"
                            referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
            </div>
        </div>
    </section>
</BaseLayout>
