---
import HeroSection from "../components/Herosection.astro";
const customerFav= [
            { customerFavImage: ('/images/landing/favimage-1.jpg')},
            { customerFavImage: ('/images/landing/favimage-2.jpg')},
            { customerFavImage: ('/images/landing/favimage-3.jpg')}
        ];
 const menu= [
     { coffeeName:"Spanish Latte", coffeePrice:"139",description: "a creamy blend of bold espresso, silky steamed milk, and a touch of sweet condensed milk that’ll have you coming back for more!"},
     { coffeeName:"Vietnamese", coffeePrice:"140",description: "a rich, robust brew sweetened with silky condensed milk, creating the perfect balance of strength and indulgence!" },
     { coffeeName:"Hibiscus Tea", coffeePrice:"135",description: "a vibrant, tangy, and naturally caffeine-free infusion bursting with floral notes and a hint of fruity sweetness!" },
     { coffeeName:"Cafe Mocha", coffeePrice:"139",description: "a perfect blend of bold espresso, velvety steamed milk, and rich chocolate, delivering pure coffee-chocolate bliss in every sip!" },
     { coffeeName:"Vanilla Latte", coffeePrice:"139",description: "a creamy blend of bold espresso, steamed milk, and a hint of sweet, aromatic vanilla for the perfect touch of indulgence!" },
 ];
 const tutorialDrinks = [
     { link:"https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FCafeMystika%2Fvideos%2F831331079120923%3Flocale%3Dnl_BE&width=500&show_text=false&height=889&appId" },
     { link:"https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FCafeMystika%2Fvideos%2F1275775460059323&width=500&show_text=false&height=889&appId" },
     { link:"https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FCafeMystika%2Fvideos%2F1275775460059323&width=500&show_text=false&height=889&appId" },
 ];
---
<HeroSection/>
<section class="h-auto md:h-screen bg-black-primary justify-items-center"><!--Third Section-->
    <div class="flex flex-col md:flex-row md:gap-10 font-radley w-full m-auto items-center h-full">
        <div class="w-full h-full md:w-1/2">
            <img class="w-full h-80 md:h-full object-cover" src="/images/landing/sec3image.png">
        </div>
        <div class="w-full md:w-1/2 text-left px-3 md:px-10 max-w-3xl py-16 lg:py-0">
            <div x-data="{ shown: false }" x-intersect.treshold.25="shown = true" class="transition-all duration-700 ease-out">
                <div x-show="shown" x-transition>
                    <h1 class="text-4xl md:text-5xl mb-16 text-text-title">Coffee and Science come together, warmly brewed.</h1>
                    <p class="text-sm opacity-65">
                        At Café Mystika, tradition meets innovation in every cup. Guided by our mission to serve exceptional, sustainable beverages, we blend the art of coffee with the precision of science—crafting drinks that not only satisfy but spark connection. Rooted in Valencia and inspired by the world, each brew is a warm invitation to experience flavor, community, and culture in harmony.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--wip section merchs-->
<section class="bg-black-secondary justify-items-center py-10 md:py-20"><!--Second Section-->
    <div x-data="{ shown: false }" x-intersect.treshold.25="shown = true" class="transition-all duration-700 ease-out">
        <div x-show="shown" x-transition class="font-radley px-3 pb-16 lg:pb-20 text-left md:text-center">
            <div class="text-4xl md:text-5xl text-text-title pb-10 w-full ">Our customer's favorite</div>
            <p class="text-sm text-text-paragraph max-w-3xl opacity-65">At Café Mystika, our customers’ favorites are a testament to craft and connection—beloved blends and signature sips that capture the heart of our community, one memorable drink at a time.</p>
        </div>
    </div>
    <div class="w-full col-span-3">
        <div class="grid lg:gap-8 grid-cols-3 ">
        {customerFav.map((item) => (
                <div x-data="{ shown: false }" x-intersect.treshold.25="shown = true" class="transition-all duration-700 ease-out"
                     :class="shown ? 'translate-y-0 opacity-100' : 'translate-y-5 opacity-0'">
                    <div x-show="shown" x-transition  class="h-52 lg:h-96 mx-auto w-full col-span-4 md:w-full relative bg-center bg-cover bg-no-repea"
                         style={`background-image: url('${item.customerFavImage}')`}>
                    </div>
                </div>
        ))}
        </div>
    </div>
</section>
<section class="bg-black-secondary justify-items-center">
    <div class="flex flex-col lg:flex-row font-radley w-full m-auto items-center max-w-screen-xl lg:py-20">
        <div class="order-2 md:order-1 px-3 lg:px-10 py-10 lg:py-0 mx-auto text-left lg:mr-16 md:w-3/4">
            <h1 class="text-4xl md:text-5xl text-text-title">Simply Cozy Sips</h1>
            <div class="text-sm text-text-paragraph py-10 border-text-divider border-b opacity-65">
                From the rich sweetness of a Spanish Latte to the delicate bloom of Hibiscus Tea, Café Mystika serves comfort in every cup. Whether you're craving the bold kick of Vietnamese coffee or the smooth charm of a Vanilla Latte, each drink is crafted to warm your senses and make you feel right at home.
            </div>
            <div class="row-span-2 pt-10">
                <ul>
                    {menu.map((item)=>(
                            <li  class="pb-5 md:pb-7">
                                <div x-data="{ shown: false }" x-intersect.treshold.35="shown = true" class="transition-all duration-700 ease-out">
                                <div x-show="shown" x-transition class="flex mb-3">
                                    <div class="text-left text-sm text-text-paragraph md:w-48 font-bold"> { item.coffeeName }</div>
                                    <div class="border-dotted border-[#FDECD8] border-b-[2px] xl:border-b-[2px] w-full h-5 xl:h-4 mx-5 opacity-55"></div>
                                    <div class="text-right text-sm text-text-divider"> { item.coffeePrice }<sup>.00</sup></div>
                                </div>
                                <div class="text-text-paragraph opacity-55">{item.description}</div>
                                </div>
                            </li>
                    ))}

                </ul>
            </div>
        </div>
        <div class="order-1 md:order-2 m-auto hidden lg:block">
            <img class="w-full" src="/images/landing/sec5image.png">
        </div>
    </div>
</section>
<section class="bg-zinc-900 justify-items-center py-10 lg:py-20 text-center"><!--Sixth Section-->
    <h1 class="text-4xl md:text-5xl text-text-title pb-16 w-full font-radley">We work hand-in-hand<br>with the best people!</h1>
    <div class="w-full max-w-4xl px-3">
        <div class="flex flex-col md:flex-row gap-16">
            <div x-data="{ shown: false }"
                 x-intersect.treshold.25="shown = true"
                 :class="shown ? 'translate-y-0 opacity-100' : 'translate-y-5 opacity-0'"
                 class="transition-all duration-700 ease-out"
            >
                <div x-show="shown" x-transition class="pt-7 w-full opacity-50 md:opacity-100">
                    <img src="/images/landing/jollycow.png" class="mx-auto max-h-40 w-46">
                </div>
            </div>
            <div x-data="{ shown: false }"
                 x-intersect.treshold.25="shown = true"
                 :class="shown ? 'translate-y-0 opacity-100' : 'translate-y-5 opacity-0'"
                 class="transition-all duration-900 ease-out"
            >
                <div x-show="shown" x-transition class="pt-7 w-full opacity-50 md:opacity-100">
                    <img src="/images/landing/yanyan.png" class="mx-auto max-h-40">
                </div>
            </div>
            <div x-data="{ shown: false }"
                 x-intersect.treshold.25="shown = true"
                 :class="shown ? 'translate-y-0 opacity-100' : 'translate-y-5 opacity-0'"
                 class="transition-all duration-1100 ease-out"
            >
                <div x-show="shown" x-transition class="pt-7 w-full opacity-50 md:opacity-100">
                    <img src="/images/landing/familyschoice.png" class="mx-auto max-h-40">
                </div>
            </div>
            <div x-data="{ shown: false }"
                 x-intersect.treshold.25="shown = true"
                 :class="shown ? 'translate-y-0 opacity-100' : 'translate-y-5 opacity-0'"
                 class="transition-all duration-1300 ease-out"
            >
                <div x-show="shown" x-transition class="pt-7 w-full opacity-50 md:opacity-100">
                    <img src="/images/landing/gourmetfarms.png" class="mx-auto max-h-40">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="h-full bg-zinc-950 justify-items-center py-10 lg:py-20"><!--Seventh Section-->
    <h1 class="text-4xl md:text-5xl text-text-title w-full font-radley pb-16 text-center">A taste of the custom drinks <br>we've crafted for you.</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 px-3">
        {tutorialDrinks.map((item)=>(
            <iframe src={item.link}
                    class=""
                    width="202.50"
                    height="360"
                    style="border: none; overflow: hidden;"
                    scrolling="no"
                    frameborder="0"
                    allowfullscreen="true"
                    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"/>
        ))}
    </div>
</section>