---
import BaseLayout from '../layouts/Layout.astro';
import HeroSection from "../components/Herosection.astro";
---
<BaseLayout title="Shop">
    <HeroSection/>
    <h2 class="text-2xl font-semibold mb-4">Shop</h2>
</BaseLayout>
