---
const currentPath = Astro.url.pathname;
let backgroundImage = "";
let mainText = "";
let subText = ""
switch(currentPath){
    case  "/":
        backgroundImage = "./src/assets/images/herobackground2.png";
        mainText = "Coffee and Memories";
        subText = "Since 2021 , Cafe Mystika has been on a mission to provide sustainable and ethical, hand roasted, specialty coffee  at a fair price for you and the farmers.";
        break;
    case  "/about":
        backgroundImage = "./src/assets/images/herobackground2.png";
        mainText = "Meet the dream Team";
        subText = "Get to know the passionate brewers behind every cup, the dream team that turns beans into magic.";
    break;
    case  "/blog":
        backgroundImage = "./src/assets/images/blog/mystika5.jpg";
        mainText = "Brewing Stories One Cup at a Time";
        subText = "Welcome to our cozy blog, where coffee, community, and stories blend into one inviting experience.";
    break;

}
---
<section class="relative h-auto sm:h-screen bg-cover bg-right-bottom md:bg-center bg-fixed text-text-paragraph"
     style={`background-image: url('${backgroundImage}')`}>
    <div class="absolute inset-0 bg-black opacity-50 z-0"></div>
    <div class="pt-16 sm:pt-0 ">
        <div class="container mx-auto h-screen pb-10 px-5 lg:px-10">
            <div class="relative h-full">
                <div x-data="{ shown: false }" x-intersect.treshold.25="shown = true" class="transition-all duration-700 ease-out">
                    <div x-show="shown" x-transition class="md:text-left absolute inset-x-0 bottom-28">
                        <h1 class="text-4xl lg:text-6xl text-text-title mb-10 text-center">
                            {mainText}
                        </h1>
                        <div class="text-sm w-full text-center md:text-left lg:w-1/2 ">
                            <p class="mb-10">
                                {subText}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>