---

import BaseLayout from "../../layouts/Layout.astro";
---

<BaseLayout title="Blog">
    <section class="container mx-auto text-gray-300 text-2xl">
        <div class="w-1/2 mx-auto">
            <div><img src="/images/blog/anniversary.png"/></div>
        </div>
         <div class="max-w-4xl mx-auto md:my-20 bg-black-primary pt-5 px-3 md:p-10"">
            <p class="mb-5">
                Let’s celebrate Cafe Mystika's First Anniversary! 🎉
            <p class="mb-5">
                As a heartfelt THANK YOU for your amazing support, we're offering an exclusive Anniversary Promo: Buy 2 (Regular or Upsize Hot/Iced Drinks) and get 1 FREE Regular Size Drink of your choice! ☕
            </p>
            <p class="mb-5">
                To our regulars, the community, our family, and friends—words can’t express how thankful we are for your unwavering support.
            </p>
            <p class="mb-5">
                Come join us for a day filled with delicious flavors and fantastic deals. Let’s make this anniversary unforgettable!
            </p>
            <p class="mb-5"> Promo available TODAY, April 8, 2025—don’t miss out! </p>
        </div>
    </section>
</BaseLayout>