---

import BaseLayout from "../../layouts/Layout.astro";
---

<BaseLayout title="Blog">
    <section class="container mx-auto text-gray-300 text-2xl">
        <div class="w-1/2 mx-auto">
            <div><img src="/images/blog/champ-1st-placer.jpg"/></div>
        </div>
        <div class="max-w-4xl mx-auto md:my-20 bg-black-primary pt-5 px-3 md:p-10"">
            <p class="mb-5">
                Cafe Mystika proudly congratulates Clarke “Champ” Atienza for claiming the 1st Runner-Up title in the prestigious BarChef 8: Battle of Champions – Philippine Latte Art Competition!
            </p>
            <p class="mb-5">
                Your passion, creativity, and dedication to the craft of coffee artistry continue to inspire and elevate the barista community.
            </p>
            <p class="mb-5">
                A heartfelt thank you to all the competitors who shared their skills, the supporters who cheered from near and far, the judges who lent their time and expertise, and the organizers for making this incredible event happen.
            </p>
            <p class="mb-5">
                We celebrate this victory with pride and gratitude. This is just the beginning—onward to more milestones, Champ!
            </p>
        </div>
    </section>
</BaseLayout>