---

import BaseLayout from "../../layouts/Layout.astro";
---

<BaseLayout title="Blog">
    <section class="container mx-auto text-gray-300 text-2xl">
        <div class="w-1/2 mx-auto">
            <div><img src="/images/blog/crochet-blog.jpg"/></div>
        </div>
        <div class="max-w-4xl mx-auto md:my-20 bg-black-primary pt-5 px-3 md:p-10"">
            <p class="mb-5">
                Crochet Session with Tonya Alviola – done and dusted! 🧶
            <p class="mb-5">
                A big thank you to everyone who joined us! Hope your Sunday evening is filled with all the value and learnings from this new hobby.
            </p>
            <p class="mb-5">
                Special thanks to our talented demonstrator, Ms. Tonya Alviola, for sharing your expertise and guiding us through each stitch. Your patience and passion made this session unforgettable!
            </p>
            <p class="mb-5">
                Stay tuned for our next crochet sessions! 😍
            </p>
        </div>
    </section>
</BaseLayout>