---
// Optional: Pass in props like title or links in the future
const currentPath = Astro.url.pathname;
---
<div class="sticky top-0 z-30 shadow-md">
    <div class="bg-black-primary text-xs hidden md:block">
        <div class="container mx-auto flex justify-between py-2 md:px-10 lg:px-5">
            <div class="flex w-64 items-center">
                <img src="/icons/Vector.png" />
                <span class="text-text-divider">Location : &nbsp;</span>
                <span class="text-text-paragraph"> Valencia Negros Oriental</span>
            </div>
            <div class="flex items-center">
                <img src="/icons/Vector-1.png" />
                <span class="ml-1 text-text-divider">Opening Hours : &nbsp;</span>
                <span class="text-text-paragraph"> 9 : 00 AM - 11 : 00 PM</span>
            </div>
        </div>
    </div>
    <nav class="bg-black-secondary" x-data="{ open: false, servicesOpen: false }">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8 py-5">
        <div class="flex justify-between h-16 items-center">
            <!-- Logo -->
            <a href="/" class="text-xl font-bold text-amber-500 flex">
                <img class="block md:hidden" src="/icons/cafe-mystika-icon.png"/>
                <img class="md:block hidden w-full h-10" src="/icons/cafe-mystika-word.png" />
            </a>

            <!-- Desktop Links -->
            <div class="hidden md:flex space-x-6 items-center text-text-paragraph">
                <a href="/" class={`hover:text-amber-500 transition-all duration-300 ${currentPath === '/' ? 'text-button-active' : ''}`}>Home</a>
                <div class="relative" @click.outside="servicesOpen = false">
                    <button @click="servicesOpen = !servicesOpen" class="cursor-pointer select-none flex items-center transition duration-200">
                        <span class="pr-2">Services</span>
                        <svg :class="{'rotate-180': servicesOpen}" class="w-5 h-5 transform transition-transform duration-300" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 8L10 12L14 8" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                    <!-- Dropdown Services -->
                    <div x-show="servicesOpen"
                         x-transition:enter="transition ease-out duration-300"
                         x-transition:enter-start="opacity-0 -translate-y-2"
                         x-transition:enter-end="opacity-100 translate-y-0"
                         x-transition:leave="transition ease-in duration-200"
                         x-transition:leave-start="opacity-100 translate-y-0"
                         x-transition:leave-end="opacity-0 -translate-y-2"
                         class="bg-black-primary absolute left-0 mt-2 rounded-lg shadow p-2 flex flex-col gap-1 min-w-[250px] z-50">
                        <a href="/services#mobile-bar" class={`block px-3 py-2 hover:text-amber-500 transition-all duration-300 ${currentPath.startsWith('/services#mobile-bar')  ? 'text-button-active' : ''}`}>Mobile Bar</a>
                        <a href="/services#machine-services" class={`block px-3 py-2 hover:text-amber-500 transition-all duration-300 ${currentPath.startsWith('/services#machine-services') ? 'text-button-active' : ''}`}>Machine Maintenance</a>
                        <a href="/services#business-consultation" class={`block px-3 py-2 hover:text-amber-500 transition-all duration-300 ${currentPath.startsWith('/services#business-consultation') ? 'text-button-active' : ''}`}>Business Consultation</a>
                    </div>
                </div>
                <a href="/classes" class={`hover:text-amber-500 transition-all duration-300 ${currentPath === '/classes/' ? 'text-button-active' : ''}`}>Classes</a>
                <a href="/blog" class={`hover:text-amber-500 transition-all duration-300 ${currentPath.startsWith('/blog')  ? 'text-button-active' : ''}`}>Blog</a>
                <a href="/about" class={`hover:text-amber-500 transition-all duration-300 ${currentPath === '/about/' ? 'text-button-active' : ''}`}>About</a>
                <a href="/contact" class={`hover:text-amber-500 transition-all duration-300 ${currentPath === '/contact/' ? 'text-button-active' : ''}`}>Contact</a>
                <a href="/shop" class={`hover:bg-amber-500 rounded w-8 h-8 p-2 transition-all duration-300 ${currentPath === '/shop/' ? 'bg-button-active' : ''}`}>
                    <img class="w-5" src="/icons/shop-icon.png" />
                </a>
            </div>

            <!-- Mobile Toggle Button -->
            <button @click="open = !open" class="md:hidden text-text-paragraph hover:text-amber-500 focus:outline-none">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2"
                     viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
                    <path x-show="!open" d="M4 6h16M4 12h16M4 18h16" />
                    <path x-show="open" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
        </div>
    </div>
    <!-- Sliding Mobile Menu Panel -->
    <div
            x-show="open"
            x-transition:enter="transition transform ease-out duration-300"
            x-transition:enter-start="translate-x-full"
            x-transition:enter-end="translate-x-0"
            x-transition:leave="transition transform ease-in duration-200"
            x-transition:leave-start="translate-x-0"
            x-transition:leave-end="translate-x-full"
            class="fixed top-0 right-0 w-64 h-full bg-black-primary text-text-paragraph shadow-lg z-40 md:hidden"
            @click.outside="open = false"
    >
        <div>
            <img src="/images/Group-45.png"/>
        </div>
        <div class="p-6 opacity-60" x-data="{ servicesOpen: false }">
            <a href="/" class={`block py-2 hover:text-amber-500 transition-all duration-300 ${currentPath === '/' ? 'text-button-active' : ''}`}>Home</a>
            <button @click="servicesOpen = !servicesOpen" class="cursor-pointer select-none flex items-center transition duration-200">
                <span class="pr-2">Services</span>
                <svg :class="{'rotate-180': servicesOpen}" class="w-5 h-5 transform transition-transform duration-300" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 8L10 12L14 8" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
            <div
                    x-show="servicesOpen"
                    x-collapse x-cloak
                    class="pl-4 text-sm"
            >
                <a href="/services#mobile-bar" class={`block px-3 py-2 hover:text-amber-500 transition-all duration-300 ${currentPath.startsWith('/services#mobile-bar')  ? 'text-button-active' : ''}`}>Mobile Bar</a>
                <a href="/services#machine-services" class={`block px-3 py-2 hover:text-amber-500 transition-all duration-300 ${currentPath.startsWith('/services#machine-services') ? 'text-button-active' : ''}`}>Machine Maintenance</a>
                <a href="/services#business-consultation" class={`block px-3 py-2 hover:text-amber-500 transition-all duration-300 ${currentPath.startsWith('/services#business-consultation') ? 'text-button-active' : ''}`}>Business Consultation</a>
            </div>
            <a href="/classes" class={`block py-2 hover:text-amber-500 transition-all duration-300 ${currentPath === '/classes/' ? 'text-button-active' : ''}`}>Classes</a>
            <a href="/blog" class={`block py-2 hover:text-amber-500 transition-all duration-300 ${currentPath.startsWith('/blog') ? 'text-button-active' : ''}`}>Blog</a>
            <a href="/about" class={`block py-2 hover:text-amber-500 transition-all duration-300 ${currentPath === '/about/' ? 'text-button-active' : ''}`}>About</a>
            <a href="/contact" class={`block py-2 hover:text-amber-500 transition-all duration-300 ${currentPath === '/contact/' ? 'text-button-active' : ''}`}>Contact</a>
            <a href="/shop" class={`block py-2 hover:text-amber-500 transition-all duration-300 ${currentPath === '/shop/' ? 'text-button-active' : ''}`}>Shop</a>
        </div>
    </div>

    <!-- Optional: Dark overlay when menu is open -->
    <div
            x-show="open"
            x-transition:enter="transition ease-out duration-300"
            x-transition:enter-start="opacity-0"
            x-transition:enter-end="opacity-50"
            x-transition:leave="transition ease-in duration-200"
            x-transition:leave-start="opacity-50"
            x-transition:leave-end="opacity-0"
            class="fixed inset-0 bg-black opacity-50 z-30 md:hidden"
            @click="open = false"
    ></div>
</nav>
</div>

